html.Q_notTouchscreen, html.Q_notTouchscreen body { height: 100%; position: relative; }

#footer { width: 100%; text-align: center; font-size: 24px; }
.Q_notMobile #footer { padding: 20px; position: absolute; bottom: 0;  }
#footer_slot img { height: 30px; vertical-align: middle; }
#footer_slot a { color: #0d2636; text-decoration: underline; }

#dashboard_slot { cursor: default; }
#dashboard_slot * { font-size: 24px; }
#dashboard>* { margin: 5px; line-height: 40px; }
#dashboard h1 { float: left; width: auto; padding-right: 5px; border-right: 1px dotted #444; }
#dashboard h2 { float: left; }
#dashboard_user { float: right; }

.Q_mobile #dashboard_slot,
.Q_mobile #notices_slot { width: 100%; position: sticky; left: 0px; }

#Users_avatar_tool .Users_avatar_name { text-indent: 5px; }

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	select:focus, textarea:focus, input:focus {
		font-size: 16px;
		background: #eee;
	}
}

.Q_mobile h2.slogan { display: none; }
h1.QM_app_title { text-indent: 60px; position: relative; }
h2.slogan { color: #157efb; }

.QM_logo { position: absolute; top: 0; left: 0; }
.QM_bookmarklet_container { margin: auto; }
.QM_dialog { text-align: center; }

#dashboard_slot {
    z-index: 900;
    width: 100%;
    text-align: center;
    border: solid 0 #aaa;
    box-shadow: #aaa 0 0 4px;
    -webkit-box-shadow: #aaa 0 0 4px;
    -moz-box-shadow: #aaa 0 0 4px;
    background: #157efb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#444444');
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#444444));
    background: -moz-linear-gradient(top, #333333, #444444);
    height: 50px;
}